/**
 * NoBotForm
 * Validation to humans submit form
 *
 * Author: Wallace Rio <wallrio@gmail.com>
 *
 */


.nobotform .labelCheck{
	color: #777;
	cursor: pointer;
	display: inline-table;
}

.nobotform .labelCheck [data-nobotform-check]{
	display: inline-table;
	border:2px solid #aaa;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	margin: 5px;
	transition:300ms;
	border-radius: 22px;
	perspective: 600px;
	transform:rotateY(0deg);
}.nobotform .labelCheck[data-status="active"] [data-nobotform-check]{
	border:2px solid #2bc305;
	box-shadow: 0 0 0 5px #fff inset,
				0 0 0 220px green inset;

	transform:rotateY(180deg);
}
